@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --color-apple-gray: #f5f5f7;
  --color-apple-blue: #0071e3;
  --color-apple-text: #1d1d1f;
  --color-apple-subtext: #86868b;
  --color-apple-card: #ffffff;
}

:root {
  font-family: var(--font-sans);
}

body {
  background-color: var(--color-apple-gray);
  color: var(--color-apple-text);
  @apply antialiased;
}